<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new employer</title>
</head>
<body>
<h1>New employer infomation</h1>
<form action="#" th:action="@{/employers/createnewemployer}" th:object="${createEmployerRequest}" method="post">
  <input type="text" placeholder="Employer's name" th:field="*{name}"/><br><br>
  <input type="text" placeholder="Employer's email" th:field="*{email}"/><br><br>
  <input type="text" placeholder="Employer's address" th:field="*{address}"/><br><br>

  <button type="submit">Create new employer</button>
</form>

<div th:if="${createEmployerResponse}">
    <p th:text="|Đã thêm mới nhà tuyển dụng ${createEmployerResponse.name} với mã ${createEmployerResponse.id}|"></p>
</div>
</body>
</html>