<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
<h1>Nhà tuyển dụng</h1>
<a href="/employers/createnewemployer">Thêm nhà tuyển dụng</a>
<br>
<a href="/employers">Danh sách nhà tuyển dụng</a>

<h1>Việc làm</h1>
<a href="/jobs/createnewjob">Tạo việc làm</a>
<br>
<a href="/jobs">Danh sách việc làm</a>

<h1>Ứng viên</h1>
<a href="/applicants/createnewapplicant">Tạo ứng viên</a>
<br>
<a href="/applicants">Danh sách ứng viên</a>



</body>
</html>